.routeBox {
	text-align: center;
}

.bookmarkBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 60vh;
}

.bookmarkText {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #f44336;
	letter-spacing: 1px;
	word-spacing: 1px;
}
