.routeBox {
	text-align: center;
}

.App-header {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: rgb(0, 0, 0);
}

.loginBox {
	display: flex;
	margin-top: 4%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	width: 100%;
	/* border: 2px solid rgb(255, 123, 0); */
}

.loginText {
	color: #000000;
	border: none;
	outline: none;
	text-align: center;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 3px;
}

.credentialsBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 200px;
	/* border: 3px solid blue; */
}

.formItemBox {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	height: 38px;
	margin: 10px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border: 2px solid rgb(255, 0, 0); */
}

.formTitle {
	color: #000000;
	border: none;
	outline: none;
	margin: 0 4px;
	text-align: start;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}

.formInput {
	height: 35px;
	min-height: 35px;
	width: 60%;
	background-color: rgba(230, 230, 230, 0.329);
	border: none;
	border-radius: 3px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	transition: all 0.1s ease-in-out;
}

.formInput:focus {
	border-bottom: 2px solid rgb(34, 130, 255);
}

.formInput::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #c5c5c5;
	letter-spacing: 1px;
	word-spacing: 1px;
}

.chooseButton {
	align-self: center;
	margin-top: 10px;
	background: none;
	border: none;
	color: rgb(32, 73, 255);
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	outline: none;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	transition: all 0.2s ease-in-out;
}

.modalBox {
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgb(233, 233, 233);
	width: 100%;
	height: 80%;
	padding-top: 10px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.selectCat {
	color: #000000;
	border: none;
	width: 100px;
	margin: 20px;
	outline: none;
	cursor: pointer;
	text-align: start;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.modalTitle {
	color: #000000;
	border: none;
	outline: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.modalDone {
	color: rgb(32, 73, 255);
	text-align: end;
	width: 100%;
	border: none;
	cursor: pointer;
	outline: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.signInButton {
	height: 35px;
	min-height: 35px;
	width: 200px;
	margin: 30px 0 20px 0;
	background-color: rgb(32, 73, 255);
	border: none;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	outline: none;
	font-weight: 600;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
}

.signInButton:active {
	box-shadow: none;
}

.createAccButton {
	align-self: flex-start;
	margin: 7% 0 0 2%;
	background-color: rgb(255, 255, 255);
	border: none;
	color: rgb(32, 73, 255);
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	outline: none;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	transition: all 0.2s ease-in-out;
}

.createAccButton:hover {
	color: rgb(255, 32, 32);
	/* font-size: 15px; */
}
