.nextBox {
	display: block;
	width: 50px;
	height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	/* border: 2px solid #000000; */
}

.nextBox:hover > .nextShape {
	transform: rotate(90deg) translateY(-90px);
}

.nextText {
	padding: 0;
	color: #ffffff;
	border: none;
	outline: none;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 4px;
}

.nextShape {
	transition: all 0.2s ease-in-out;
	margin-top: -10px;
	margin-left: -30px;
	height: 40px;
	width: 8px;
	background-color: #24f079;
	border-radius: 20px;
	transform: rotate(90deg);
}
