.genresBox {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  border: 0px solid red;
}

.genres {
  display: flex;
  width: 40%;
  min-width: 450px;
  margin-top: 80px;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  border: 0px solid blue;
}

.genresImg {
  position: absolute;
  top: 0;
  right: 0;
  background-position: right;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.2s ease;
  opacity: 1;
  border: 0px solid orange;
}

.hiddenImg {
  position: absolute;
  top: 0;
  right: 0;
  background-position: right;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

.catBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 6px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  margin: 10px;
  border: 0px solid red;
}

.catText {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: start;
  word-spacing: 1px;
  color: #313131;
}

.browseBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 8px;
  border-radius: 6px;
  background-color: #313131;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  margin: 10px;
}

.browseText {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: start;
  word-spacing: 1px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}
