.backdropBox {
  display: flex;
  flex: 3.2;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  min-width: 300px;
  border-radius: 10px;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid blue;
}

.slideBox {
  display: flex;
  flex: 1;
  min-height: 520px;
  margin: 20px 0px 0px 0px;
  overflow-x: auto;
  flex-direction: row;
  border: 0px solid red;
}

.movieInfo {
  display: flex;
  flex: 1;
  /* flex-wrap: wrap; */
  padding-right: 10px;
  flex-direction: column;
  border: 0px solid green;
}

.titleBox1 {
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1d2a39;
  /* border-top: 2px solid #1d2a39; */
}

.titleText {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: start;
  word-spacing: 1px;
  color: #f3f3f3;
  text-decoration: none;
  border: 0px solid black;
}

.infoBox {
  display: flex;
  flex: 3;
  flex-direction: column;
  background-color: #1d2a39;
  border-radius: 10px;
  border: 0px solid orange;
}

.summaryBox {
  display: flex;
  flex: 6;
  flex-direction: column;
  padding: 10px 20px 0px 20px;
  border: 0px solid red;
}

.summaryTitleText {
  /* margin: 0px; */
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #f3f3f3;
  text-decoration: none;
  border: 0px solid black;
}

.summaryText {
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #f3f3f3;
  text-decoration: none;
  border: 0px solid black;
}

.ratingBox {
  display: flex;
  flex: 1;
  /* align-items: flex-start; */
  padding: 0px 20px 0px 40px;
  border: 0px solid blue;
}

.rottenBox {
  display: flex;
  flex: 1.5;
  min-width: 170px;
  align-items: flex-end;
  position: relative;
  border: 0px solid red;
}

.rottenText {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: #ff6565;
  text-decoration: none;
  border: 0px solid black;
}

.rottenRating {
  margin: 0px;
  position: absolute;
  top: 45%;
  left: 90%;
  transform: translate(-90%, -45%);
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: rgba(255, 255, 255, 0.28);
  text-decoration: none;
  border: 0px solid black;
}

.imdbBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 0px solid white;
}

.imdbText {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: #ffc465;
  text-decoration: none;
  border: 0px solid black;
}

.imdbRating {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 1px;
  color: rgba(255, 255, 255, 0.28);
  text-decoration: none;
  border: 0px solid black;
}

.moreBox {
  display: flex;
  flex: 3;
  padding: 20px 20px 10px 40px;
  border: 0px solid yellow;
}

.genreBox {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  align-content: center;
  border: 0px solid yellow;
}

.genre {
  display: flex;
  width: 60px;
  height: 15px;
  padding: 5px;
  margin: 0px 8px 8px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 35px -11px rgba(64, 215, 242, 0.15);
  -moz-box-shadow: inset 0px 0px 35px -11px rgba(64, 215, 242, 0.15);
  box-shadow: inset 0px 0px 35px -11px rgba(64, 215, 242, 0.15);
  border: 0px solid #293956;
}

.creditsText {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #f3f3f3;
  text-decoration: none;
}

.buttonBox {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 0px solid yellow;
}

.button {
  display: flex;
  height: 30px;
  width: 80px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #00909e;
}

.buttonText {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #f3f3f3;
  text-decoration: none;
  border: 0px solid black;
}
