.swipeBox {
	padding-top: 90px;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	/* filter: blur(1px);
	-webkit-filter: blur(1px); */
	background-repeat: no-repeat;
	object-fit: cover;
}

.slideBox {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	/* border: 2px solid #ff0000; */
}

.movieInfo {
	display: flex;
	/* justify-content: center; */
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	/* border: 2px solid #00ff9d; */
}

.moviePoster {
	display: flex;
	flex-direction: column;
	margin: 5%;
	margin-right: 12%;
	/* border: 2px solid #2600ff; */
}

.movieImage {
	object-fit: contain;
	z-index: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ratingBox {
	display: flex;
	align-items: center;
	float: left;
	max-height: 50px;
	margin: 12%;
	margin-top: 12%;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 50px;
	/* border: 2px solid #000000; */
	background-color: #23ce6b;
	color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ratingNext {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: row;
	/* border: 2px solid #000000; */
}

.ratingText {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 1px;
	/* border: 2px solid #000000; */
}

.titleText {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	margin: 10%;
	margin-bottom: 14%;
	margin-top: 14%;
	word-wrap: break-word;
	width: 90%;
	font-weight: 500;
	text-align: left;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #ffffff;
	text-decoration: none;
	/* border: 2px solid #000000; */
}

.summaryText {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	margin-left: 25%;
	width: 70%;
	min-height: 130px;
	margin-right: 5%;
	font-weight: 500;
	text-align: left;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	/* border: 2px solid #000000; */
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
